
  <div class="" >
    <ul class="collapsible">
      <% @status_actions.each do |status|%>
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment</i><%= status.sector_flow.name %></div>
          <div class="collapsible-body">
            <%= status.requisition_status.name %> <span> por <%= status.action_by %></span> </br>
            <%= status.description ? "Obs.: #{status.description}" : '' %>
            <%= "Relizado em #{status.created_at.strftime("%d/%m/%Y %H:%M")}" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>