<h3>simulador de taxas - Definições de taxas</h3>
<div class='row'>
  <table class='table highlight responsive-table'>
    <thead>
      <tr>
        <th scope="col">Tipo de crédito</th>
        <th scope="col">Linha de crédito</th>
        <th scope="col">Prazo minimo</th>
        <th scope="col">Prazo máximo</th>
        <th scope="col">Taxa minima</th>
        <th scope="col">Taxa máxima</th> 
        <th scope="col">PF/PJ</th>       
      </tr>
    </thead>

    <tbody>
      <% @credit_lines.each do |credit_line| %>
      <tr>
        <td  scope="row"><%= credit_line.credit_line.credit_type.name %></td>
        <td><%= credit_line.credit_line.name %></td>
        <td><%= credit_line.deadline_min %> <%= credit_line.deadline_setup%></td>
        <td><%= credit_line.deadline_max %> <%= credit_line.deadline_setup%></td>
        <td><%= credit_line.tax_min %></td>
        <td><%= credit_line.tax_max %></td>
        <td><%= credit_line.credit_line.client_type %></td>      
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
