<h3>simulador de taxas - Definições de taxas</h3>

<div class="row">
  <div class="col s12 m12">
      <table id='myTable'class='card stripe hover row-border'>
        <div class=""> 
            <thead>
              <tr>
                <th>Tipo de crédito</th>
                <th>Linha de crédito</th>
                <th>Prazo minimo</th>
                <th>Prazo máximo</th>
                <th>Taxa minima</th>
                <th>Taxa máxima</th> 
                <th>PF/PJ</th>       
              </tr>
            </thead>

            <tbody>
              <% @credit_lines.each do |credit_line| %>
              <tr>
                <td><%= credit_line.credit_line.credit_type.name %></td>
                <td><%= credit_line.credit_line.name %></td>
                <td><%= credit_line.deadline_min %> <%= credit_line.deadline_setup%></td>
                <td><%= credit_line.deadline_max %> <%= credit_line.deadline_setup%></td>
                <td><%= credit_line.tax_min %></td>
                <td><%= credit_line.tax_max %></td>
                <td><%= credit_line.credit_line.client_type %></td>      
              </tr>
              <% end %>
            </tbody>
        </div>
      </table>
  </div>
</div>
<script>
$(document).ready(function(){ 
    var table = $('#myTable').DataTable({
      
        "language": {            
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ itens por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }            
        },
      
        
    });  
      $('select').formSelect();
});

</script>
