<ul id="slide-out" class="sidenav">
	<li>
	<div class="user-view">
		<div class="background">
			<img src="https://i0.wp.com/pedromiguellaw.com/wp-content/uploads/2014/04/bokeh-cover-bg.jpg">
		</div>          
		<a href="#user"><img class="circle" src="https://bgcburbank.org/wp-content/uploads/2017/09/Blank-Avatar.jpg"></a>
		<a href="#name"><span class="white-text name"><%= current_user.first_name %> <%= current_user.last_name %></span></a>		
		<a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
	</div>
	</li>	
	<li>
		<ul class="collapsible">
			<li>
				<div class="collapsible-header"><i class="material-icons">event</i>Agenda</div>
				<div class="collapsible-body">
					<ul>
						<li><a>Pessoal</a></li>
						<li>	<%= link_to  'Eventos', events_path  %></li>
						<li><a>Eventos</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">cloud_download</i>Downloads</div>
				<div class="collapsible-body">
					<ul>					
						<li>
							<%= link_to  'Documentos', docfiles_path %>
																								
						</li>			
						<li>								
							<%= link_to  'Normativos', normatives_path  %>								
						</li>			
					</ul>
				</div>
			</li>		     
		
			<li>				
				<div class="collapsible-header">						
					<i class="material-icons">developer_board</i>Posts						
				</div>
				<div class="collapsible-body">
					<ul>					
							<li>
								<%= link_to  'Todos', posts_path  %>
							</li>							
							<li>
								<% if can? :create, @posts %>
									<%= link_to  'Novo', new_post_path  %>
								<% end %>
							</li>							
					</ul>
				</div>
			</li>						
			
			<li>				
				<div class="collapsible-header"><i class="material-icons">settings</i>Configurações</div>
				<div class="collapsible-body">
					<ul>					
							<li>
								<%= link_to  'Usuários', docfiles_path  %>
							</li>							
					</ul>
				</div>
			</li>
		</ul>	
	</li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li><%= link_to 'Logout',  destroy_user_session_path, method: 'delete', class:'waves-effect' %></li>
</ul>  