<ul id='slide-out' class='sidenav'>
	<li>
	<div class='user-view'>
		<div class='background bgcolortest'>
			<%= image_tag  "/img/gb.png", class:'responsive-img' %>
		</div>
		<%= link_to   user_path(current_user) do%>       
			<%= image_tag  "/img/Blank-Avatar.jpg", class:'circle' %>
		<% end %>
		<a href='#name'><span class='white-text name text-shadow'><%= current_user.full_name %></span></a>		
		<a href='#email'><span class='white-text text-shadow email'><%= current_user.sector.name %></span></a>
	</div>
	</li>	
	<li>
		<ul class='collapsible'>
			<li>
				<div class='collapsible-header'><i class='material-icons'>event</i>Agenda</div>
				<div class='collapsible-body'>
					<ul>						
						<li>
							<% if can? :create, @events %>
								<%= link_to  'Eventos', events_path  %>
							<% end %>
						</li>						
					</ul>
				</div>
			</li>
			<li>
				<div class='collapsible-header'><i class='material-icons'>computer</i>Sistemas</div>
				<div class='collapsible-body'>
					<ul>						
						<li>
							<% if can? :read, @events %>
								<%= link_to  'Simulador de taxas - PF', simulation_index_url(client_type: 0) %>
							<% end %>
							<% if can? :read, @events %>
								<%= link_to  'Simulador de taxas - PJ', simulation_index_url(client_type: 1) %>
							<% end %>
							<%= link_to 'Taxas',  taxes_path%>
							<%= link_to 'Análise de crédito', requisitions_path %>
							<%= link_to 'Análise de cadastro', 'http://172.19.27.150/intranetcredicope', target:'_blank' %>
						</li>						
					</ul>
				</div>
			</li>
			<li>
				<div class='collapsible-header'><i class='material-icons'>insert_chart</i>Relatórios diversos</div>
				<div class='collapsible-body'>
					<ul>						
						<li>						
							<%= link_to 'Acompanhamento de metas', report_path %>
						</li>						
					</ul>
				</div>
			</li>
			<li>
				<div class='collapsible-header'><i class='material-icons'>cloud_download</i>Downloads</div>
				<div class='collapsible-body'>
					<ul>					
						<li>
							<%= link_to  'Documentos', docfiles_path %>					
						</li>			
						<li>								
							<%= link_to  'Normativos', normatives_path  %>								
						</li>			
					</ul>
				</div>
			</li>		     
		
			<li>				
				<div class='collapsible-header'>						
					<i class='material-icons'>developer_board</i>Posts						
				</div>
				<div class='collapsible-body'>
					<ul>					
							<li>
								<%= link_to  'Todos', posts_path  %>
							</li>							
							<li>
								<% if can? :create, @posts %>
									<%= link_to  'Novo', new_post_path  %>
								<% end %>
							</li>							
					</ul>
				</div>
			</li>						
			
			<li>				
				<div class='collapsible-header'><i class='material-icons'>settings</i>Configurações</div>
				<div class='collapsible-body'>
					<ul>					
						<li>
							<%= link_to  'Usuários', users_index_path  %>
						</li>							
					</ul>
				</div>
			</li>
		</ul>	
	</li>
	<li><div class='divider'></div></li>
	<li><a class='subheader'>Subheader</a></li>
	<li><%= link_to 'Logout',  destroy_user_session_path, method: 'delete', class:'waves-effect' %></li>
</ul>  