<h1>Normatives</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @normatives.each do |normative| %>
      <tr>
        <td><%= normative.title %></td>
        <td><%= normative.description %></td>
        <td><%= link_to 'Download', url_for(normative.file), download:'' %></td>        
        <td><%= link_to 'Edit', edit_normative_path(normative) %></td>
        <td><%= link_to 'Destroy', normative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Normative', new_normative_path %>