
 <div class='row'>
    <div class='col s12 m12'>
      <div class='card'>
        <div class='card-image bgcolortest'>
          <%= image_tag  "/img/gb.png", class:'background-user userbg' %>         
            <span class='card-title'>              
              <%= image_tag  "/img/Blank-Avatar.jpg", class:'user-avatar' %>
               <span class='text-shadow'><%= @user.full_name %> </span></br>
               <span class='text-shadow'><%= @user.email %></span>
            </span>
        </div>
        <div class='card-content'>
            <h4><%= @user.full_name %></h4>
            <div class='field'>
              <h6>Login: <%= @user.login %></h6>
            </div>                  
            <div class='field'>
              <h6>Cargo: <%= @user.role %> </h6>
            </div>
            <div class='field'>
              <h6>Localização: <%= @user.location.name %> </h6>
            </div>
        </div>        
      </div>
    </div>
  </div>
</div>
