<div class="row">
		<div class="col s12 m9">
			<div class="slider">
				<ul class="slides">
					<% @lastposts.each do |post| %>
						<li>				 
						<%=link_to(post) do%>
							<%= image_tag  post.image.url %> <!-- random image -->
								<div class="caption center-align">
									<h3><%= post.title %></h3>
									<h5 class="light grey-text text-lighten-3"><%= sanitize post.body[0..255] %></h5>
								</div>
							<%end%>				
						</li>				
					<%end%>
				</ul>
			</div>
		</div>
  <div class="col s12 m3 l3">    
    <%= render 'home/shared/ranking' %>  
    <%= render 'home/shared/news' %>  
    <%= render 'home/shared/cake' %>       
  </div>  
</div>

