<div class="row">
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field">
    <%= form.text_field :title, placeholder:'Digite o nome do evento', required: true %>
  </div>
  <div class="input-field">
    <%= form.label "Data Inicial" %>  
    </br>
    <%= form.datetime_field :start, class:'start_hidden', required: true %>
  </div>
  <div class="input-field">
    <%= form.label "Data Final" %>  
    </br>
    <%= form.datetime_field :end, class:'end_hidden', required: true %>
  </div>
  <div class="input-field">
    <%= form.color_field :color %>
  </div>
  <div class="row"
    <div class="actions">
      </br>
      <%= form.submit 'Criar Evento', class:'btn' %>    
    </div>
    </br>
      <%= link_to 'Excluir evento', event, method: :delete, class: 'btn red', data: { confirm: 'Confirma exclusão?' }, remote: true unless @event.new_record? %>
  </div>
<% end %>
</div>