
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :title %>
  <%= form.hidden_field :start,value: Date.today, class:'start_hidden' %>
  <%= form.hidden_field :end,value: Date.today, class:'end_hidden' %>
  <%= form.text_field :date_range, class: "date-range-picker" %>
  <%= form.color_field :color %>
  
   <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
