<div class='container'>
  <%= form_with(model: requisition, local: true) do |form| %>
    <% if requisition.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(requisition.errors.count, 'error') %> prohibited this requisition from being saved:</h2>
        <ul>
        <% requisition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class='field'>
      <%= form.label :description %>
      <%= form.text_area :description, required: true %>
    </div>
    <% if controller.action_name == 'edit' %>    
      <div class='field'>
        <%= form.label :requisition_status_id %>    
        <%= collection_select(:requisition, :requisition_status_id, RequisitionStatus.all[1..20], :id, :name) %>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :requisition_category_id %>
      <%= collection_select(:requisition, :requisition_category_id, RequisitionCategory.all, :id, :name) %>
    </div>

    <div class='actions'>
      <%= form.submit %>
    </div>
  <% end %>
</div>
