<div class='row'>
  <div class="col s12 m12">
    <div class="card padding-card">
      <%= form_with(model: requisition, local: true) do |form| %>
        <% if requisition.errors.any? %>
          <div id='error_explanation'>
            <h2><%= pluralize(requisition.errors.count, 'error') %> prohibited this requisition from being saved:</h2>
            <ul>
            <% requisition.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class='field'>
          <%= form.label "Numero proposta" %>
          <%= form.text_field :requisition_number, required: true %>
        </div>

        <div class='field'>
          <%= form.label "CPF/CNPJ" %>
          <%= collection_select(:requisition, :client_id, Client.all, :id, :cpfcnpj) %>
        </div>

        <div class='field'>
          <%= form.label "Nome do associado" %>
          <%= collection_select(:requisition, :client_id, Client.all, :id, :name) %>
        </div>

        <div class='field'>
          <%= form.label "Modalidade" %>
          <%= collection_select(:requisition, :modality_id, Modality.all, :id, :title) %>
        </div>

        <div class='field'>
          <%= form.label "Submodalidade" %>
          <%= collection_select(:requisition, :submodality_id, Submodality.all, :id, :title) %>
        </div>

        <div class='field'>
          <%= form.label "Categoria" %>
          <%= collection_select(:requisition, :requisition_category_id, RequisitionCategory.all, :id, :name) %>
        </div>

        <div class='field'>
          <%= form.label "Valor proposta" %>
          <%= form.text_field :value, required: true %>
        </div>

        <div class='field'>
          <%= form.label "Observação"  %>
          <%= form.text_area :description, required: true %>
        </div>

        <% if controller.action_name == 'edit' %>    
          <div class='field'>
            <%= form.label :requisition_status_id %>    
            <%= collection_select(:requisition, :requisition_status_id, RequisitionStatus.all[1..20], :id, :name) %>
          </div>
        <% end %>

        <div class='field'>
          <%= form.file_field :files ,direct_upload: true, multiple: true %> </br>
        </div>

        <div class="action">
        <br> <%= form.submit "Criar proposta", class:"btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
