<p id="notice"><%= notice %></p>

<h1>Requisitions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Requisition status</th>
      <th>Requisition category</th>
      <th>Requisition type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td><%= requisition.title %></td>
        <td><%= requisition.description %></td>
        <td><%= requisition.requisition_status %></td>
        <td><%= requisition.requisition_category %></td>
        <td><%= requisition.requisition_type %></td>
        <td><%= link_to 'Show', requisition %></td>
        <td><%= link_to 'Edit', edit_requisition_path(requisition) %></td>
        <td><%= link_to 'Destroy', requisition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requisition', new_requisition_path %>
