
<h4>Análise de crédito</h4>

<div class='row'>
  <div id='remote_container'><div> 
   <div class="col s12 m12">  
      <table id='myTable'class='card stripe hover row-border'>
          <thead>
            <tr>
              <th>id</th>
              <th>Nome do associado</th>
              <th>Status</th>
              <th>requisition_category_id</th>                  
              <th>Solicitante</th>                  
              <th>Solicitado</th>                  
              <th>Local</th>
              <th>
                <ul id="dropdown2" class="dropdown-content">
                  <div class='dropdown-sort-options'>                        
                    <li><%= show_all_items "Abertas" %></li>
                    <li><%= show_all_items "closed", "Fechadas" %></li>
                  </div>
                </ul>
                <a class="dropdown-trigger" href="#!" data-target="dropdown2">&#8230</a>
              </th>
            </tr>
          </thead>
        <tbody>
          <% @requisitions.each do |requisition| %>
            <tr>
              <td><%= requisition.id %></td>
              <td><%= link_to requisition.title, requisition %></td>
              <td><%= requisition.requisition_status.name %></td>
              <td><%= requisition.requisition_category.name %></td>        
              <td><%= requisition.requester.login %></td>                 
              <td><%= requisition.created_at.strftime("%d/%m/%Y") %></td>                 
              <td><%= requisition.site_location %></td>                  
              <td></td>                  
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
</div>

<div class='fixed-action-btn'>
  <%= link_to  new_requisition_path, class:"btn-floating btn-large waves-effect waves-light bgcolortest" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>

<script>
$(document).ready(function(){ 
    var table = $('#myTable').DataTable({
      fixedHeader: true,
      "language": {            
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ itens por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
        }            
      },       
    });  
      $('select').formSelect();
});

</script>