<div class='row'>
  <div class="col s12 m6 offset-m1">
    <div class="card">
        <table class="striped">    
        <tbody>
          <tr><td><strong>N° Proposta: </strong></td><td><%= @requisition.requisition_number %></td></tr>
          <tr><td><strong>PA: </strong></td><td><%= @requisition.location.name %></td></tr>
          <tr><td><strong>Categoria: </strong></td><td><%= @requisition.requisition_category.name %></td></tr>
          <tr><td><strong>Proponente: </strong></td><td><%= @requisition.client.name %></td></tr>
          <tr><td><strong>Modalidade :</strong></td><td><%= @requisition.modality.title %></td></tr>
          <tr><td><strong>Status: </strong></td><td><%= @requisition.requisition_status.name %> </td></tr>
          <tr><td><strong>Valor: </strong></td><td><%= @requisition.value %></td></tr>
          <tr><td><strong>Solicitante: </strong></td><td><%= @requisition.requester.full_name %></td></tr>
          <tr><td><strong>Setor: </strong></td><td><%= @requisition.sector.name %></td></tr>
          <tr><td><strong>Última Atualização realizada por: </strong></td><td><%=@status_actions.last.action_by %></td></tr>
          <tr><td><strong>Observação: </strong></td><td><%= @requisition.description %></td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='col s12 m4'>
    <ul class="collection with-header">
      <li class="collection-header"><h4>Documentos</h4></li>
      <% @requisition.files.each do |file| %>
        <li class="collection-item">
          <%= link_to file.filename, url_for(file), download:"" %>   
          <%if same_location(current_user, @requisition.location)%>
            <%= link_to(requisition_path(@requisition,file), method: :delete, data: { confirm: "Comfirma exclusão do documento?" }) do %> 
              <i class="material-icons secondary-content">delete_forever</i>
            <% end %>
          <%end%>
        </li>        
        <!--<li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>-->
      <% end %>
      <% if same_location(current_user, @requisition.location)  %>
        <li class="collection-item">
          <%= form_with(model: @requisition, local: true) do |form| %>                   
            <li class="collection-item">
              <%= form.file_field :files ,direct_upload: true, multiple: true, class:"", required: true, onchange:"checkFile()" %> </br>
            </li>
            <li class="collection-item">
              <%= form.submit "Anexar", class:"btn disabled", id:"docFilesUpload" %>
            </li>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= render 'requisitions/shared/actions'%>
  </div>
</div>
<div class='row'>
  <div class="col s12 m6 offset-m1" >
    <%= link_to 'Voltar', requisitions_path, class:'waves-effect waves-light btn' %>
  </div>
   <div class="offset-m11">
      <a id='asdfasf' class="waves-effect waves-light btn <%= "#{user_can_edit_requisition(current_user,@requisition.location, @requisition.requisition_status.id)}" %>"> Atender</a>
  </div>
</div>


<div id='remote_container'></div>

<script>
  function startModal(){
    $('#remote_container').html('<%= j render "change_status" %>');
    $('#edit_status').modal();
    $('#edit_status').modal('open');    
  };
</script>



