<h1>Docfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>File type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docfiles.each do |docfile| %>
      <tr>
        <td><%= docfile.name %></td>
        <td><%= docfile.description %></td>
        <td><%= docfile.file_type.name %></td>
        <td><%= link_to 'Download', url_for(docfile.doc_file), download:''  %></td>
        <td><%= link_to 'Edit', edit_docfile_path(docfile) %></td>
        <td><%= link_to 'Destroy', docfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docfile', new_docfile_path %>
