<h1>Jornal Mural</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.title %></td>
        <td><%= link_to 'Visualizar', journal %></td>
        <% if can? :update, @posts %> 
          <td><%= link_to 'Editar', edit_journal_path(journal) %></td>
          <td><%= link_to 'Excluir', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class='fixed-action-btn'>
  <%= link_to new_journal_path, class:'btn-floating btn-large waves-effect waves-light bgcolortest' do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
