<ul class='collapsible'>
  <li>
    <div class='collapsible-header'><i class='material-icons'>directions_run</i>Acesso rapido</div>
    <div class='collapsible-body colapsible-remove-margin'>
      <ul class='collection'>
        <li class='collection-item'><%= link_to  'Sistema de chamados - GLPI', 'http://172.19.27.150/glpi', target:'_blank' %></li>
        <li class='collection-item'><%= link_to  'Intranet Crediminas', 'https://sistemas.crediminas.com.br/PortalAcessos/', target:'_blank' %></li>
        <li class='collection-item'><%= link_to  'Sisbr - Metaframe', 'http://172.16.2.188', target:'_blank' %></li>
        <li class='collection-item'><%= link_to  'SipagNet', 'https://web.sipag.com.br/sipagnet/emi/site', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Receita Federal', 'http://www.receita.fazenda.gov.br', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'PGD', 'http://172.16.2.13/gestaodepessoas', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Decisor de Crédito', 'https://sistemasv1web.crediminas.com.br/decisor', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Banco Central', 'http://www.bcb.gov.br', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Intranet Crédito', 'http://172.19.27.150/intranetcredicope', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Zurich', 'https://espacocorretor.zurich.com.br', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'Sul América', 'http://www.sulamerica.com.br/cotadorauto', target:'_blank' %></li>          
        <li class='collection-item'><%= link_to  'SIGAS', 'https://sicoobsigas.com.br/Pages/LoginBancoob.aspx', target:'_blank' %></li>          
      </ul>
    </div>
  </li>
</ul>








