<ul class='collapsible'>
  <li>
    <div class='collapsible-header'><i class='material-icons'>directions_run</i>Acesso rapido</div>
    <div class='collapsible-body colapsible-remove-margin'>
      <ul class='collection'>
        <li class='collection-item'><%= link_to  'Sistema de chamados - GLPI', '172.19.27.150/glpi' %></li>
        <li class='collection-item'><%= link_to  'Intranet Crediminas', 'sistemas.crediminas.com.br' %></li>
        <li class='collection-item'><%= link_to  'Simulador de taxas - PF', simulation_index_url(client_type: 0)  %></li>
        <li class='collection-item'><%= link_to  'Simulador de taxas - PJ', simulation_index_url(client_type: 1) %></li>
        <li class='collection-item'><%= link_to  'Sisbr - Metaframe', '172.16.2.188' %></li>
        <li class='collection-item'><%= link_to  'SipagNet', 'http://google.com.br/' %></li>          
        <li class='collection-item'><%= link_to  'Receita Federal', 'receita.fazenda.gov.br' %></li>          
        <li class='collection-item'><%= link_to  'PGD', '172.16.2.13/gestaodepessoas' %></li>          
        <li class='collection-item'><%= link_to  'Decisor de Crédito', 'https://sistemasv1web.crediminas.com.br/decisor' %></li>          
        <li class='collection-item'><%= link_to  'Banco Central', 'www.bcb.gov.br' %></li>          
        <li class='collection-item'><%= link_to  'Intranet Crédito', '172.19.27.152/intranetcredicope' %></li>          
        <li class='collection-item'><%= link_to  'Zurich', 'https://espacocorretor.zurich.com.br' %></li>          
        <li class='collection-item'><%= link_to  'Sul América', 'http://www.sulamerica.com.br/cotadorauto' %></li>          
        <li class='collection-item'><%= link_to  'SIGAS', 'https://sicoobsigas.com.br/Pages/Generico/Avisos.aspx' %></li>          
      </ul>
    </div>
  </li>
</ul>








