<div class="container">
  <%= form_with(model: post, local: true, multipart: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label 'Titulo' %>
      <%= form.text_field :title %>
    </div>
    
    <div class="field">
        <%= raw form.text_area :body, class: "ckeditor" %>
    </div>   
</br>
    <label class="btn">
    
    
      Selecionar Capa
      <span style="display:none;">
        <%= form.file_field :image, accept: 'image/*', class:'btn' %>
      </span>
    </label>


    <div class="actions">
    </br>
      <%= form.submit 'Criar post', class:'btn' %>
    </div>
  <% end %>
</div>
