<div class="container">

<% @posts.each do |post| %>
  
    <div class="col s6 m5">
      <div class="card">
        <div class="card-image">
          <%= image_tag post.image, class:'img-responsive' %>
          <span class="card-title"><%= post.title %></span>
        </div>
        <div class="card-content">
          <p><%= sanitize post.body[0..255] %></p>          
        </div>
        <div class="card-action">             
          <%= link_to 'Show', post %>      
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </br>
<% end %>

</div>