<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-image">
          <%= image_tag @post.image, class:'img-responsive' %>
          <span class="card-title"><%= @post.title %></span>
        </div>
        <div class="card-content">
          <%= raw @post.body %>
        </div>
        <% if can? :update, @posts %>
          <div class="card-action">          
            <% if can? :update, @posts %>     
              <%= link_to edit_post_path(@post) do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            <%end%>
          </div>
        <% end %>
      </div>
    </div>
  </div>  
</div>

