<p id="notice"><%= notice %></p>

<h1>Credit Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Client type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_types.each do |credit_type| %>
      <tr>
        <td><%= credit_type.name %></td>
        <td><%= credit_type.description %></td>
        <td><%= credit_type.client_type %></td>
        <td><%= link_to 'Show', credit_type %></td>
        <td><%= link_to 'Edit', edit_credit_type_path(credit_type) %></td>
        <td><%= link_to 'Destroy', credit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Type', new_credit_type_path %>
