<div class="row">
<div class="col s12">
 <p>
    <strong>Referência:</strong>
    <%= @report.name %>
  </p>

  <p>
    <strong>Relatório:</strong>
    <%= @report.report_type.name %>
  </p>
</div>


  
  <%if @report.report_image_data %>
    <% @report.report_image_data.order(:location_id).each do |data|%>
      <p> <%= image_tag data.image, class:'responsive-img col s12'%> </p>
    <% end %>
  <% end %>
  
  <p>
  <%if @report.file.attached? %>
    <h5>Baixar relatório</h5>
    <%= link_to url_for(@report.file), download:'',class:"btn waves-effect waves-light" do %>
      Download
    <%end%>
    </p>
  <% end %>
    
<div class="col s12">
  <p><%= link_to 'Voltar', reports_path, class:'btn' %></p>
</div>


</div>
 